cloudpickle
exifread
flask
fpdf2
joblib
matplotlib
networkx
numpy
Pillow
pyproj
pytest
python-dateutil
pyyaml
rasterio
scipy
Sphinx
six
xmltodict
beautifulsoup4
lxml
wheel
vmem
opencv-python==4.5.1.48 ; sys_platform == "win32"
opencv-python ; sys_platform == "linux"
